<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SOS.Net.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SOS.Net.Settings>
            <setting name="CdbPath" serializeAs="String">
                <value>C:\Program Files\Debugging Tools for Windows (x64)\</value>
            </setting>
            <setting name="SosexPath" serializeAs="String">
                <value />
            </setting>
        </SOS.Net.Settings>
    </userSettings>
</configuration>